<% unless current_user == micropost.user %>

  
<% if micropost.favorited_by?(current_user) %>

<p><span>Favorite</span><%= link_to micropost.favorites.count, micropost_favorites_path(micropost.id), method: :delete %></p>
  
<% else %>

<p><span>Unfavorite</span><%= link_to micropost.favorites.count, micropost_favorites_path(micropost.id), method: :post %></p>
  
<% end %>

<% end %>